@font-face {
    font-family: 'codropsicons';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #3b393d;
    background: #f0f0f0;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    overflow-y: scroll;
}

body.body--hidden {
    overflow: hidden;
}

body.body--hidden .codrops-header,
body.body--hidden .content--related {
    opacity: 0;
}

.codrops-header,
.content--related {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

a {
    text-decoration: none;
    color: #de6551;
    outline: none;
}

a:hover,
a:focus {
    color: #3b393d;
}

.demo-2 a {
    color: #7cc576;
}

.demo-3 {
    background: #1b1b1b;
}

.demo-4 {
    background: #acaad1;
}

.demo-4 a {
    color: #6448a0;
}

.demo-4 .codrops-header h1 span {
    color: #4f4c4c;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

/* Header */

.codrops-header {
    padding: 2em 1em;
    text-align: center;
}

.codrops-header h1 {
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1.2;
    margin: .5em 0 0;
}

.codrops-header h1 span {
    font-size: .45em;
    display: block;
    padding: .5em 0 1em;
    color: #999;
}

/* Top Navigation Style */

.codrops-links {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

/* Demo links */

.codrops-demos {
    margin: 2em 0 0;
}

.codrops-demos a {
    display: inline-block;
    margin: 0 .5em;
}

.codrops-demos a.current-demo {
    font-weight: bold;
    color: #3b393d;
}

/* Content */

.content {
    padding: 1em 0 1em;
}

/* Related demos */

.content--related {
    font-weight: bold;
    text-align: center;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.media-item__img {
    max-width: 100%;
    opacity: .3;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    font-size: 1em;
    margin: 0;
    padding: .5em;
}

/* cards wrapper and close btn */

.wrapper {
    overflow: auto;
    width: 95%;
    max-width: 1366px;
    margin: 0 auto;
}

@media screen and (max-width: 50em) {
    .codrops-header {
        padding: 3em 10% 4em;
    }
}

@media screen and (max-width: 40em) {
    .codrops-header h1 {
        font-size: 2.4em;
        line-height: 1.2;
    }
}

.links_details {
    font-weight: bold;
    font-size: 1em;
    font-family: "微软雅黑";
    float: left;
    color: #D82B2B;
}

.links_details:hover {
    color: red;
}

.wrap {
    margin: 0 auto;
    width: 80%;
}

#pagebody {
    padding: 15px 25px;
}

/* navigation bar */
#topnav {
    display: block;
    width: 100%;
    position: relative;
}

#topnav .logo {
    float: left;
    padding: 0;
    width: 40px;
    height: 30px;
    margin: 14px auto 30px auto;
    background: url('../img/logo3.jpg') no-repeat;
}

#topnav .logo .gz {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    width: 55px;
    height: 15px;
    line-height: 15px;
    margin-top: 32px;
    margin-left: -10px;
}

#topnav #navbtn {
    display: none;
    float: right;
    top: 0;
    width: 20px;
    padding: 2.5em 0em;
    /* background: url('../images/nav-icon.png') center no-repeat;*/
    text-indent: -99999px;
    overflow: hidden;
}

#topnav nav {
    position: absolute;
    top: 0;
    right: -10px;
}

#topnav nav ul {
    list-style: none;
}

#topnav nav ul li {
    display: block;
    float: left;
    margin-right: 4px;
}

#topnav nav ul li a {
    color: #4E525D;
    font-size: 1em;
    padding: 1.6em 1.5em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.51s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    border-bottom: 2px solid #fff;
}

#topnav nav ul li a:hover {
    border-bottom: 2px solid #C83434;
    color: #C83434;
    background: #EEE;
}

#topnav nav ul li.active > a {
    border-bottom: 2px solid #C83434;
    color: #C83434;
    background: #EEE;
}

/* menu block */
#btmnav {
    display: block;
    padding: 5px 0;
    border-top: 1px solid #cfcfcf;
    font-size: 1.1em;
    font-weight: normal;
}

#btmnav .credits {
    color: #999;
    line-height: 1.45em;
}

#btmnav nav {
    padding: 9px 0;
    padding-bottom: 15px;
}

#btmnav nav ul li {
    display: inline;
}

#btmnav nav ul li a {
    font-weight: bold;
}

/* responsive styles */
@media screen and (max-width: 800px) {
    #topnav h1 {
        padding: 1.4em 0em;
    }

    #topnav #navbtn {
        padding: 1.8em 0em;
    }

    #topnav {
        height: auto;
    }

    #topnav nav {
        display: none;
        position: static;
        width: 100%;
        top: auto;
        right: auto;
    }

    #topnav nav ul li {
        float: none;
        margin: 0;
        background: #f0f0f0;
    }

    #topnav nav ul li a {
        display: block;
        width: 100%;
        line-height: 1.4em;
        border: 0;
        padding: 9px 9px;
        border-bottom: 1px solid rgba(90, 85, 73, 0.17);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    #topnav nav ul li a:hover {
        background: #49CBCD;
        color: #ffffff;
    }

    #topnav nav ul li a.sel {
        color: #6f8767;
        background: #cbdcc5;
    }

    #topnav #navbtn {
        display: block;
    }
}